<header>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><img class="logo" src="/assets/images/logo.png"
                                              alt="essensys Logo"/></a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/">Home</a></li>
          <li><a href="/">about</a></li>
          <li><a href="/">tech</a></li>
          <li><a href="/">ecosystem</a></li>
          <li><a href="/">flexible workspace</a></li>
          <li><a href="/">smart business</a></li>
          <li><a href="/">resources</a></li>
          <li><a href="/">blog</a></li>
          <li><a href="/">contact</a></li>
          <li><a href="/">jeff login</a></li>
          <li><a href="/">demo</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>
</header>

<div class="main container">

  <div class="row">
    <div class="col-xs-12">
      <h1>Title</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <img class="pull-right img-responsive" width="500" src="/assets/images/main.jpg" alt="Home Page Image"/>
      <p>Lorem ipsum dolor sit amet, pede phasellus. Aliquam urna. Porta enim venenatis mauris proin
        aliquam felis, amet dictum vel tincidunt ut faucibus quam, praesent mauris tempus leo
        vulputate. Laoreet leo congue lobortis sit accumsan, non suscipit sed elementum dictum, ac
        sapien id mauris dolor. Tellus ornare dui amet, sed lectus eu auctor dolor, metus nam donec
        erat libero, ultricies mattis, in id quam nonummy sed amet a.</p>
      <p>Erat morbi consectetuer ut suspendisse wisi nec, porttitor nibh, dui neque. Wisi tortor
        nisl blandit lobortis, leo tortor at. Metus nec sapien a turpis aenean in, augue purus nibh,
        mauris nibh mi blanditiis vivamus, integer etiam, lectus tincidunt orci curabitur dui.
        Facilisi luctus commodo, suscipit magna malesuada, justo ut semper mollis hac cursus nunc,
        libero phasellus turpis mauris nonummy pellentesque, quos dignissim eget turpis in.
        Vestibulum quis volutpat, posuere est nostra massa mauris sed, pellentesque vivamus lacus
        lorem lacus enim. Felis ullamcorper curabitur rutrum aenean elit, vel vestibulum, nec lectus
        nonummy, a inceptos gravida sed sociis.</p>
      <p>Erat morbi consectetuer ut suspendisse wisi nec, porttitor nibh, dui neque. Wisi tortor
        nisl blandit lobortis, leo tortor at. Metus nec sapien a turpis aenean in, augue purus nibh,
        mauris nibh mi blanditiis vivamus, integer etiam, lectus tincidunt orci curabitur dui.
        Facilisi luctus commodo, suscipit magna malesuada, justo ut semper mollis hac cursus nunc,
        libero phasellus turpis mauris nonummy pellentesque, quos dignissim eget turpis in.
        Vestibulum quis volutpat, posuere est nostra massa mauris sed, pellentesque vivamus lacus
        lorem lacus enim. Felis ullamcorper curabitur rutrum aenean elit, vel vestibulum, nec lectus
        nonummy, a inceptos gravida sed sociis.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 centered">
      <button type="button" class="btn btn-default tableToggle" ng-click="vm.toggleTable()">
        {{ vm.tableVisible ? 'Hide Table' : 'Show Table' }}
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <table class="table table-bordered customerTable" ng-if="vm.tableVisible">
        <thead>
        <tr>
          <th>Customer CLI</th>
          <th>Telephone number</th>
          <th>Call date</th>
          <th>Call time</th>
          <th>Call duration</th>
          <th>UK National</th>
          <th>Time Band</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="c in vm.customers">
          <td>{{ c.customer_cli }}</td>
          <td>{{ c.telephone_number }}</td>
          <td>{{ c.call_date }}</td>
          <td>{{ c.call_time }}</td>
          <td>{{ c.duration }}</td>
          <td>{{ c.uk_national }}</td>
          <td>{{ c.time_band }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
