body {
  font-family: sans-serif;
}

header {
  .logo {
    height: 1.2em;
  }

  nav.navbar-default {
    background: white;
    li {
      text-transform: uppercase;
      font-size: 0.5em;
      a {
        padding: 15px 7px;
      }
    }
  }
}

.main {
  margin-top: 51px;
}
